/**
 * @file
 * Primary appearance styling.
 */

/** Styling for page.tpl.php elements **/

body {
  background: #fff;
  color: #000;
}

#page {
  margin: 0;
}

#section-header {
  background: #4c4c4c url("../images/cclogo03-640x156.png") center 10px / 320px 78px no-repeat ;
  padding: 90px 0.3125em 0;
}

#secondary-menu, #section-navigation, #section-main, #section-footer {
  padding: 0 0.3125em;
}

#site-name {
  font-family: Verdana, Arimo, Arial, helvetica, sans-serif;
  font-size: 2.441em;
  font-variant: small-caps;
  line-height: 1.2288em;
}

#site-name a {
  border: none;
  color: #fff;
  text-decoration: none;
}

#site-name a:hover {
  background: inherit;
  color: rgb(143, 183, 153);
}

#section-navigation {
  padding: 0.328em 0 0;
}

#content-inner {
  padding: 0 0 1.5em;
}

#sidebar-first {
}

.region-sidebar-first {
  margin: 0 0 0.512em;
  padding: 0 0.512em 0.512em;
}

#sidebar-second {
}

.region-sidebar-second {
  margin: 0 0 0.512em;
  padding: 0 0.512em 0.512em;
}

#section-footer {
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
  padding: 0 0 1.875em;
  text-align: center;
}

#section-footer a {
  color: #777;
}

/** Styling for blocks **/

/** Styling for nodes **/

.node .submitted {
  font-style: italic;
  margin: 0 0 0.625em;
}

div.field-label-inline {
  margin: 0 0 1.625em;
}

/* Format links section. */

.node .content .links {
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
  text-transform: uppercase;
}

.node .content .links li {
  padding: 0 0.382em 0 0;
}

.node .content .links a {
  background: #ffa;
    -moz-border-radius: 0.262em;
  border-radius: 0.262em;
  color: #777;
  padding: 0.134em 0.328em;
  text-decoration: none;
}

.node .content .links a:hover {
  color: #555;
  text-decoration: underline;
}

/** Media Queries **/

@media only screen and (min-width: 768px) {
  #section-header {
    background: #4c4c4c url("../images/cclogo09-153x200.png") 10px 10px / 76px 100px no-repeat ;
    min-height: 120px;
    padding: 0 0.3125em 0 100px;
  }
  #section-navigation {
    padding: 0 0 0 2em;
  }
  #content-inner {
    padding: 0 0.625em 1.5em;
  }
}

@media only screen and (min-width: 1200px) {
  #secondary-menu, #section-main, #section-footer {
    padding: 0 0.3125em;
  }
}

@media only screen and (min-width: 1280px) {
  #page {
    margin: 0 auto;
  }
}
