/**
 * @file
 * Menu styling.
 */

/* Main Navigation */

ul#main-menu {
  font-size: 1.25em; /* 17.500px */
  line-height: 1.2em;
  margin: 0;
  padding: 0.6em 0;
}

ul#main-menu > li.expanded,
ul#main-menu > li {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
}

ul#main-menu a {
  border-bottom: none;
  color: #fff;
  display: block;
  padding: 0.41em 0.512em 0.41em 0;
  text-decoration: none;
}

ul#main-menu a.active {
  color: rgb(143, 183, 153);
}

ul#main-menu a:hover {
  background: inherit;
  color: rgb(143, 183, 153);
}


/* Secondary Navigation */

ul#secondary-menu {
  background: #4c4c4c;
  display: block;
  line-height: 1.5em;
  padding: 0.25em 0;
  margin: 0;
  text-align: right;
}

ul#secondary-menu li { }

ul#secondary-menu a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

/* Sidebar Menus */

.sidebar ul.menu {
  margin: 0;
  text-align: center;
}

.sidebar ul.menu li {
  margin: 0;
}

.sidebar ul.menu a {
  font-weight: normal;
}

.sidebar ul.menu a.active {
  font-weight: bold;
}

.sidebar ul.menu a.active:hover {
  text-decoration: none;
}

.sidebar ul.menu .expanded,
.sidebar ul.menu .collapsed {
  list-style-image: none;
  list-style-type: none;
}

.sidebar ul.menu ul.menu {
  margin: 0 0 0 0.8em;
}

.sidebar ul.menu ul.menu ul.menu{
  margin: 0 0 0 0.8em;
}

.sidebar ul.menu li ul.menu li.last{
  padding: 0;
}

/* Apply specific formatting for a menu called "footer links" */

#block-menu-menu-footer-links ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#block-menu-menu-footer-links ul li {
  display: inline;
  margin: 0;
  padding: 0 2px;
}

#block-menu-menu-footer-links a {
  color: #444;
  font-size: 11px;
  font-weight: normal;
  text-decoration: underline;
}

@media only screen and (min-width: 500px) {
  ul#main-menu > li {
    display: inline-block;
    text-align: center;
  }

}

@media only screen and (min-width: 768px) {
  .sidebar ul.menu {
    text-align: left;
  }
}

