/**
 * @file
 * Styling for views.
 */

.view-flex .view-content {
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.view-flex .views-row {
  min-width: 1px; /* Fixes Firefox flex bug. */
  width: 100%;
}

/* Date fix for month calendar views. */
.calendar-calendar div.day {
  width: 2em;
}

@media only screen and (min-width: 768px) {
  .view-flex .view-content .cols-2 {
    -moz-box-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    -webkit-box-flex: 0 1 50%;
    -webkit-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .view-flex .view-content .cols-3 {
    -webkit-box-flex: 0 1 32%;
    -moz-box-flex:  0 1 32%;
    -webkit-flex:  0 1 32%;
    -ms-flex:  0 1 32%;
    flex: 0 1 32%;
  }

  .view-flex .view-content .cols-4 {
    -webkit-box-flex: 0 1 25%;
    -moz-box-flex:  0 1 25%;
    -webkit-flex:  0 1 25%;
    -ms-flex:  0 1 25%;
    flex: 0 1 25%;
  }
}
